<!DOCTYPE html>
<html lang="{{ .Site.Params.languageCode }}">
<head>
    {{ partial "headtag" . }}
    <title>{{ .Title }} - {{ .Site.Title }}</title>
</head>
<body>
    <header class="bg-primary bg-gradient py-5">
        <div class="container">
            <h1 class="text-light">{{ .Title }}</h1>
        </div>
    </header>
    <main class="py-5">
        <div class="container">
            <nav class="trails mb-4" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item" aria-current="page"><a href="/">Awal</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
                </ol>
            </nav>
            {{ .Content }}
        </div>
    </main>
    <footer class="pt-3 pb-5">
        <div class="container">
            {{ partial "footer" . }}
        </div>
    </footer>
</body>
</html>