<!DOCTYPE html>
<html lang="{{ .Site.Params.languageCode }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ $options := (dict "targetPath" "css/main.css" "outputStyle" "compressed" "enableSourceMap" false) }}
    {{ $stylesheet := resources.Get "scss/styles.scss" | toCSS $options | minify | fingerprint "sha512" }}
    <link rel="stylesheet" href="{{ $stylesheet.Permalink }}" integrity="{{ $stylesheet.Data.Integrity }}">
    <title>{{ .Title }}</title>
</head>
<body>
    <nav></nav>
    <header>
        <h1>{{ .Title }}</h1>
    </header>
    <main>
        {{ block "main" . }}
        {{ end }}
    </main>
    <footer>
        {{ partial "footer" . }}
    </footer>
</body>
</html>