<!DOCTYPE html>
<html lang="{{ .Site.Params.languageCode }}">
<head>
    {{ partial "headtag" . }}
    <title>{{ .Title }}</title>
</head>
<body>
    <nav></nav>
    <header class="bg-primary bg-gradient py-5">
        <div class="container">
            <h1 class="text-light">{{ .Title }}</h1>
        </div>
    </header>
    <main class="py-5">
        <div class="container">
            {{ block "main" . }}
            {{ end }}
        </div>
    </main>
    <footer class="pt-3 pb-5">
        <div class="container">
            {{ partial "footer" . }}
        </div>
    </footer>
</body>
</html>