<!DOCTYPE html>
<html lang="{{ .Site.Params.languageCode }}">
<head>
    {{ partial "headtag" . }}
    <title>{{ .Title }}</title>
</head>
<body>
    {{ $bghome := resources.Get "/img/bg-home.jpeg" }}
    <header class="py-5" style="background: linear-gradient(to right top, rgba(0 0 0 / 90%),rgba(0 0 0 / 60%)), center / cover no-repeat fixed url('{{ $bghome.Permalink }}');">
        <div class="container d-flex flex-column justify-content-center align-items-center text-center">
            <figure class="logo">
                {{ $logo := resources.Get "/img/logo-gbi.png" }}
                <img src="{{ $logo.Permalink }}" alt="Logo">
            </figure>
            <h1 class="text-light">{{ .Title }}</h1>
        </div>
    </header>
    <main class="py-5">
        <div class="container">
            {{ block "main" . }}
            {{ end }}
        </div>
    </main>
    <footer class="pt-3 pb-5">
        <div class="container d-flex flex-column justify-content-center text-center">
            {{ partial "footer" . }}
        </div>
    </footer>
</body>
</html>