<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{{ $favicon := resources.Get "img/logo-gbi.png" }}
<link rel="shortcut icon" href="{{ $favicon.Permalink }}" type="{{ $favicon.MediaType.Type }}">
{{ $options := (dict "targetPath" "css/main.css" "outputStyle" "compressed" "enableSourceMap" false) }}
{{ $stylesheet := resources.Get "scss/styles.scss" | toCSS $options | minify | fingerprint "sha512" }}
<link rel="stylesheet" href="{{ $stylesheet.Permalink }}" integrity="{{ $stylesheet.Data.Integrity }}">
