{{ define "main" }}
<div class="row justify-content-center">
  {{ range where .Paginator.Pages ".Layout" "==" "default" }}
  <div class="col-md-3 col-sm-12 mb-4">
    <div class="card text-center shadow-sm">
      <div class="card-body">
        <figure class="card-icon">
          {{ $img := resources.Get .Params.img }}
          <img src="{{ $img.Permalink }}" alt="Icon {{ .Title }}">
        </figure>
        <a href="{{ .Permalink }}" class="stretched-link text-decoration-none">
          <h2 class="card-title card-title-home">{{ .Title }}</h2>
        </a>
      </div>
    </div>
  </div>
  {{ end }}
</div>
{{ end }}